.category-control-add {
  clear: both;
}

.category-element {
  margin: 0 10px 10px 0;
  border: 1px solid #000;
  font-size: 125%;
  text-align: center;
  width: 200px;
  padding: 10px;
  float: left;
}